{% extends "blog/base.html"%}
{% block content%}
   <h1 class="text-center">About Page</h1>
   <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
       Atque assumenda adipisci perspiciatis, accusamus necessitatibus,
       enim cupiditate cumque iure fuga numquam consequuntur libero, 
       corporis tempore voluptas dolorum natus velit consectetur culpa?</p>
       <br>
   <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Atque assumenda adipisci perspiciatis, accusamus necessitatibus,
         enim cupiditate cumque iure fuga numquam consequuntur libero, 
         corporis tempore voluptas dolorum natus velit consectetur culpa?</p>
         <br>
   <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Atque assumenda adipisci perspiciatis, accusamus necessitatibus,
            enim cupiditate cumque iure fuga numquam consequuntur libero, 
            corporis tempore voluptas dolorum natus velit consectetur culpa?</p>          
   
   
{% endblock content %}


