{% extends "blog/base.html"%}
{% block content%}
   <h1 class="announce-heading text-center my-2 ">Announcements</h1>
      <marquee behavior="scroll" direction="up">
         <ul>
         <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tincidunt est, vitae fringilla lacus. Aenean consectetur vulputate neque eget.

         </li>
         <hr>
         <br>
         <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tincidunt est, vitae fringilla lacus. Aenean consectetur vulputate neque eget.
         </li>
         <hr>
         <br>
         

         <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tincidunt est, vitae fringilla lacus. Aenean consectetur vulputate neque eget.
         </li>
         <hr>
         <br>
         
         
         

         </ul>

      </marquee>
   
{% endblock content %}